.card{
    width: 260px;
    height: 600px;
    padding: 10px;
    cursor: pointer;
}
.cardProduct{
    width: 100%;
    height: 90%;
    padding: 10px;;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}
.cardProduct h5{
    word-wrap: break-word;
}
.cardProduct > img{
    height: 200px;
}
.container_card{
    cursor: auto;
}
.heart > svg > path{
    color: red;
}
.heart{
    position: absolute;
    right: 10px;
}
.container_details{
    line-height: 10px;
}