.container_main{
    width: 100%;
    height: 100%;
    background-color: yellow;
    text-align: center;
    overflow-y: hidden;
}
.title{
    padding: 4%;
    font-size: 45px;
}
.container_img{
    opacity: 1;
    color: black;
    text-decoration: none;
}
.container_img:hover > img{
    opacity: 1;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}
.image{
    margin: auto;
    width: 467px;
    position: relative;
    opacity: 0
}
.search{
    position: absolute;
    top: 285px;
    left: 530px;
    font-size: 30px;
    display: flex;
    cursor: pointer;
    opacity: 1;
}
.container_buscar{
    display: flex;
    flex-direction: column;
}
.salto{
    margin-left: 10px;
    padding-top: 5%;
    font-size: 50px;
    animation-name: saltar;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
@keyframes saltar{
    0% {margin-top: 0}
    50% {margin-top: -15px}
    100% {margin-top: 0}
}