.container_more_cats{
    height: 250px;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 100px;
}
.container_img{
    height: 200px;
    width: 200px;
    margin: 20px;
}
.container_img > img{
    height: 100%;
}
.noCats{
    font-size: 40px;
    margin-top: 40px;
}
.container_title{
    width: 100%;
    text-align: center;
}
.title{
    width: 100%;
    text-align: center;
}
.container_img_buttons{
    display: flex;
}
.link{
    color: green;
    font-size: 25px;
    text-decoration: none;
    margin: 15px;
}
.link:hover{
    color: green;
    text-decoration: none;
}
.container_link{
    margin-left: 10%;
}
.header{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1200
}
.filter{
    margin-left: 10%;
    margin-top: 5%;
}